@page "/"
@using Models.Dtos
@using ToDoApp.Services
@inject IItemService _itemService
<PageTitle>Todo List</PageTitle>

<h1>Hello, this is your Todo List app!</h1>
Welcome to your new app.

<ToDoItemForm OnChangeCreate="OnChangeCreate"/>
@if (todoItems == null)
{     
   <p><em>Loading...</em></p>
}
else
{
   <div class="border" style="margin-top:20px;display:flex; flex-direction: column; gap: 40px">
   @foreach (var item in todoItems)
   {
      <ToDoItemShow ItemDto="@item" OnChangeDelete="OnChangeDelete"  OnChangeUpdate="OnChangeUpdate"/>
   }
   </div>
}





@code
{
   private IEnumerable<ToDoItemDto> todoItems;
   
   protected override async Task OnInitializedAsync()
   {
      todoItems = await _itemService.GetAllItems();
   }
   
   private async Task OnChangeCreate()
   {
      todoItems = await _itemService.GetAllItems();
      StateHasChanged();
   }
   
   
   private async Task OnChangeDelete()
   {
      todoItems = await _itemService.GetAllItems();
      StateHasChanged();
   }

   private async Task OnChangeUpdate()
   {
      todoItems = await _itemService.GetAllItems();
      StateHasChanged();
   }


}
